body {
  padding-top: 65px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.navbar-form ul li a {
  padding-top: 8px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
