doctype
html
  head
    title Mean App
    base(href="/")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")    
  body(ng-app='app')
    include currentUser
    block main-content
    include scripts
