.container
  .jumbotron
    h1 My amazing app!
    p That will blow your... mind.
  .row
    .col-md-6
      div(ng-include="'/partials/main/left'")
    .col-md-6
      div(ng-include="'/partials/main/right'")
